body {
  background-color: black;
  font-family: 'Inter', sans-serif;
  min-height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  width: 90%;
  background: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

.text-section {
  flex: 1;
  padding: 60px;
  color: black;
  text-align: center;
}

.header {
  margin-bottom: 20px;
}

.tagline {
  font-size: 16px;
  color: black;
  margin: 10px 0;
}

.form-section {
  flex: 1; 
  background-color:#111;
  padding: 40px;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.form-row {
  margin-bottom: 18px;
  text-align: left;
}
.form-row, p{
    color: white;
    font-size: small;
    margin-bottom: 0%;
}

label {
  font-weight: 600;
  color: #444;
  margin-bottom: 6px;
}

input {
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
  transition: border-color 0.3s, box-shadow 0.3s;
}

input:focus {
  border-color: #4a90e2;
  box-shadow: 0 0 6px rgba(74,144,226,0.4);
  outline: none;
}

.btn {
  display: block;
  width: 100%;            
  background:linear-gradient(90deg, #0077ff, #9b59b6);
  padding: 12px;
  border-radius: 20px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  text-decoration: none;
  transition: background 0.3s;
  text-align: center;
}

.btn:hover {
  background-color: #357ab8;
}

.extra {
  margin-top: 15px;
  font-size: 13px;
}

.extra a {
    color: #357ab8;
  text-decoration: none;
}

.extra a:hover {
  text-decoration: underline;
}

@media (max-width: 788px) {
  .container {
    flex-direction: column;
  }
  .text-section, .form-section {
    flex: none;
    width: 100%;
  }
}
.form-row {
  display: flex;
  flex-direction: column;
  margin-bottom: 18px;
  text-align: left;
}

label {
  font-weight: 600;
  color: #444;
  margin-bottom: 6px;
}
